#mainContainer {
  margin: 10px auto;
  /* width: 900px;
  margin-left: auto;
  margin-right: auto;
    */
    
  }
  .img {
    /* opacity: .6; */
    background-image: url(" images/paper.jpg");
    /* background-color: #e74c3c; */
    z-index: 1;
  }

  #headStart {
    position: relative;
    /* background-image: url("images/glassandbrick.jpg"); */
    height: 300px;
    margin-top: auto;
  }
  .title {
    color: #8533ff;
    width: 900px;
    margin-left: -175px;
    margin-right: auto;
    /* text-align: center; */
    margin-top: 150px;
    position: absolute;
    text-shadow: 2px 2px grey;
    font-family: 'Cherry Swash', cursive;
  }
  h1 {
    font-family: 'Cherry Swash', cursive;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -10px;
  }
  

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e6ccff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #8533ff;
  color: white;
}
  #firstParagraph {
    font-family: 'Cherry Swash', cursive;
    /* z-index: 99; */
  }
  
  