/* the pets css */
/* font-family: 'Lemonada', cursive; */

/* the main container of the page */
/* @media (min-width:600px) { */
    /* @media (max-width:900px) { */
        #thePetsBody {
            width: 900px;
            font-family: 'Lemonada' cursive;
            margin-left: auto;
            margin-right: auto;
            /* display: flex; */
            /* flex-flow: column; */
}
/* } */
/* } */
header {
    background-color: lightcoral;
    overflow: visible;
}
.title {
    margin-left: auto;
    margin-right: auto;
    /* margin-left: auto; */
    /* margin-top: -50px; */
}
 /* Add a black background color to the top navigation */
 .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e6ccff;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8533ff;
    color: white;
  }
/*  */
/* class for all photos */
.petPhoto {
    width:300px;
    height: 200px;
    transform: rotate(-10deg);
    border-radius: 10px;
    box-shadow: 5px 5px  #d147a3;   
}
/* class for div text and width */
.textStyle {
    font-family: 'Lemonada' cursive;
    flex-flow: column;
    font-size: 20px;
    width: 50em;

}
/* header start position */
/* .headPos { */

    /* margin-inline-start: -1em; */
/* } */

/* scout div, photo and title */
/* scout div */
#scout { 
/* width: 50em; */
margin-inline-start: 18em;
margin-top: -200px;
/* font-size: 20px; */
} 
/* scout header */
/* #scout3 {
    margin-top: -2em;
}  */
/* Sweetie */
/* div */
#sweetie {
    
    margin-inline-start: 18em;  
    margin-top: -8em;
    /* font-family: 'Lemonada' cursive; */
    /* display: flex; */
}
/* photo */
#meanCat {
    margin-top: rem;
    /* margin-left: 10px; */
}
#sweetieHeader {
    margin-top: -8em;
}
/* Gus */
/* div */
#gus {
    /* width: 50em; */
    margin-inline-start: 18em;  
    margin-top: -14em;  
}

#gusPic {
    margin-top: 12rem;

}
/* #gusName {
    margin-inline-start: 22em;  
    margin-top: -8em;
} */
#gusToo {
    margin-inline-start: 30rem;
    margin-top: -13.35em;
    opacity: .1;
}
#gusToo:hover{
    transform: translateX(-231%); 
    transition-duration: 3s;
    opacity: 1;
}
#stewie {
    margin-inline-start: 18em;  
    margin-top:-10em;  
}
#stewMan {
    margin-top: 7em;
}
